
/*body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #e5e7eb;
}*/

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

@font-face {
  font-family: 'newfont';
  src: url("/fonts/font.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  background-image: url("/wood.jpg");
  background-repeat: repeat;
  background-size: auto;

  color: var(--foreground);
  font-family: newfont, sans-serif;
}

/*.main {
  background: var(--background);
  background-image: url("/wood.jpg");
  background-repeat: repeat;
  background-size: auto;
}*/